@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
	input[type="range"] {
		appearance: slider-vertical;
		-webkit-appearance: slider-vertical;
		--progress: 0%;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 1.5em;
		height: 1.5em;
		margin-left: 1.3em;
		border-radius: 25px;
		transform: scale(5);
		transform-origin: center;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		width: 4em;
		background: linear-gradient(
			to top,
			var(--slider-color) 0%,
			var(--slider-color) var(--progress),
			rgb(45, 45, 45) var(--progress),
			rgb(45, 45, 45) 100%
		);
		border-radius: 100px;
	}
}
