@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
	input[type="range"] {
		appearance: none;
		-webkit-appearance: none;
		background: transparent;
		--progress: 0%;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 5em;
		height: 5em;
		margin-top: -0.75em;
		background: white;
		border-radius: 50px;
		transform-origin: center;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 3.5em;
		background: linear-gradient(
			to right,
			var(--slider-color) 0%,
			var(--slider-color) var(--progress),
			rgb(102, 102, 102) var(--progress),
			rgb(102, 102, 102) 100%
		);
		border-radius: 100px;
	}
}
